# Godot
.import/
.export/
.export/*
.godot/
*.import
*.tmp
*.log
*.cfg
*.mono/
mono_crash.*
*.godot_export

# OS generated
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project