# Rust
/target/
/*/target/
**/*.rs.bk

# Cargo
Cargo.lock
.cargo/
.cargo_vcs_info.json

# IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS generated
.DS_Store
Thumbs.db

# Byebug command history
.byebug_history

# Misc
*.log
*.tmp
*.swp
*.bak
*.old
*.orig
*.cfg